* {
	font-family: "Open Sans", Helvetica, sans-serif;
}


/* Header */
li {
	display: inline-block;
	padding-top: 6%;
	padding-left: 2%;
}
li a:hover {
	color: #2D2735;
}


/* Banner */
.headerContainer {
	background-image: url(../image/header-image.jpg);
	background-size: 100%;
	padding: 11% 0;
}
.tittle {
	font-size: 5.5em;
}
.headerContainer2 {
	padding: 3%;
	margin: 0 auto;
	width: 65%;
}
.description {
	padding: 3%;
}


/* Body */
input {
	width: 85%;
	font-size: 1em;
	border: 1px #1C1821;
	padding: 3% 0 3% 6%;
	margin: 8% 0;
}


/* About Me */
.rrss {
	display: inline-block;
	border-radius: 50%;
	margin: 3%;
	padding: 3%;
}
.rrss a:hover {
	color: rgb(247, 186, 106);
}


/* Footer */
footer a:hover {
	color: white;
}



/* Utilities */
.bg-gray1 {
	background: #1C1821;
}
.bg-gray2 {
	background: #2D2735;
}
.w-100 {
	width: 100%;
}
.pt-2 {
	padding-top: 2%;
}
.pd-2 {
	padding: 2%;
}
.pb-4 {
	padding-bottom: 4%;
}
.pb-8 {
	padding-bottom: 8%;
}
.mt-4 {
	margin-top: 4%;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.em {
	font-style: italic;
}
.txt-deco-no {
	text-decoration: none;
}
.txt-white {
	color: white;
}
.txt-cream {
	color: rgb(247, 186, 106);
}
.txt-gray2 {
	color: #2D2735;
}
.courgette {
	font-family: 'Courgette', cursive, sans-serif;
}
.border-radius-5 {
	border-radius: 5px;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"] {
		width: 100%;
	}
	header img {
		width: 80%;
	}
	nav ul {
		text-align: center;
		margin-bottom: 2%;
	}
	li {
		padding-top: 0;
		padding-left: 2px;
		padding-right: 2px;
	}
	li a {
		padding: 2%;
	}
	section {
		padding-top: 4%;
	}
	.headerContainer {
		padding: 4% 0;
	}
	.headerContainer2 {
		width: 90%;
	}
	.sidebar {
		display: none;
	}
}
