* {
	font-family: "Open Sans";
}
/* Header */
li {
	display: inline-block;
	padding-top: 6%;
	padding-left: 2%;
}
li a:hover {
	color: #2D2735;
}
/* Banner */
.headerContainer {
	background-image: url(../image/header-image.jpg);
	background-size: 100%;
	padding: 11% 0;
}
.tittle {
	font-size: 5.5em;
}
.headerContainer2 {
	padding: 3%;
	margin: 0 auto;
	width: 65%;
}
.description {
	padding: 3%;
}

/* Utilities */
.bg-gray1 {
	background: #1C1821;
}
.bg-gray2 {
	background: #2D2735;
}
.w-100 {
	width: 100%;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.em {
	font-style: italic;
}
.txt-deco-no {
	text-decoration: none;
}
.txt-white {
	color: white;
}
.txt-cream {
	color: rgb(247, 186, 106);
}
.lighter {
	font-weight: 100;
}
.courgette {
	font-family: 'Courgette', cursive;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
